body {
	font-family: 'Raleway', sans-serif !important;
}

.grad70 {
	/* background: linear-gradient( rgb(0, 0, 0) 65%, rgb(238, 24, 24)); */
	background: linear-gradient(to left, #cc00ff 0%, #660066 100%);
    }
.container-flex-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
.container-flex-column2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}
.check{
  height: 30vh;
}

.vh100{
	height: 100vh; 
}
.street-background{
	background-image: url('../assets/img/street.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
/* access view */
.little{
	width: 6em;
	margin:  auto;
}
.two-btn{

}

.check-button{
	transform: translateY(22em)
}
#next{
	background: rgb(243, 199, 2);
}
.btn-white{
	border: 1px solid #fff;
	background-color: transparent;
	padding: 1.2em 2em 1.2em 2em;
}

.btn-style{
	border-right: 1px solid black;
}
.phone-code{
	margin-top: 0.2em;
	padding: 0 .8em;
}
.input-box{
	margin-top: 0.3em;
	padding: 1.5em 0 ;
	border:none;
	width: 75%;
	outline: none;
}
/* sign up */
.border{
	border:1px solid black;
}


@media only screen and (min-width: 768px) {
	.btn-white{
		background-color: transparent;
	}
	.two-btn a{
	}
}

@media only screen and (min-width: 992px) {
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
}
