<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
  <title>Sign up</title>
</head>

<body class="grad70 ">
<main class="container-flex-column2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2 col-lg-3">
                <img src="../assets/img/logo-white.png" alt="" class="img-responsive logo">
                <br>
                <img src="../assets/img/check.png" alt="" class="img-responsive check center-block">
            </div>
        </div>
    </div>
</main>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/signup-form.js"></script>
</body>

</html>