<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
  <title>Sign up</title>
</head>

<body class="vh100">
  <main>
  <a href="signup.html" type="button" class="btn">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
  </a>
  <form class="container text-center">
    <h1 class="title">Sign Up</h1>
    <p class="text-center"> Join now for free ride credit</p>
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <div class="col-xs-6 col-md-4 ">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user-o" aria-hidden="true"></i></span> 
            <input type="text" class="form-control user-name" placeholder="First name" aria-describedby="sizing-addon2">
          </div>
        </div>
        <div class="col-xs-6 col-md-4 ">
          <div class="input-group">
            <input type="text" class="form-control user-name"  placeholder="Last name" aria-describedby="sizing-addon2">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>      
          <input type="email" class="form-control" id="user-email" placeholder="Email" aria-describedby="sizing-addon2">
        </div>
      </div>
    </div>  
    <br>
    <div class="checkbox">
      <label>
      <input type="checkbox"> I agree to <a href=""> Lyft's terms of service</a>
      </label>
    </div>
    <button type="submit" class="btn btn-default" id="next" disabled>NEXT</button>
  </form>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/signup-form.js"></script>
</body>

</html>