<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
  <title>Verify</title>
</head>

<body class="vh100">
  <a href="signup.html" type="button" class="btn">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
  </a>
  <form class="container-flex-column2 text-center">
    <h1 class="title">Verify phone number</h1>
    <p class="text-center"> Join now for free ride credit</p>
    <div class="input-group border center-block">
      <span>LAB-</span>
      <input type="text" class="" id="input-code" aria-label="..." value=""> 
    </div>  
    <br>
    <p>Enter the code send to +52</p>
    <button type="submit" class="btn btn-default resend">Resend code</button>
    <button type="submit" class="btn  check-button" id="next" disabled>NEXT</button>
  </form>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/verify.js"></script>
</body>

</html>